{% extends "layouts/base_admin.html" %}

{% block title %}Receber Parcela{% endblock %}
{% block topbar_title %}Recebimento{% endblock %}

{% block content %}

<form method="POST">

<div class="page-header">

<div>

<h1>

Receber Parcela

</h1>

<p>

{{ parcela.locacao.cliente.nome }}

</p>

</div>

</div>

<div class="premium-card">

<div class="financeiro-grid">

<div>

<label>

Valor

</label>

<input
class="form-control"
name="valor_recebido"
value="{{ parcela.valor }}">

</div>

<div>

<label>

Forma de Pagamento

</label>

<select
name="forma_pagamento"
class="form-select">

<option>PIX</option>

<option>Dinheiro</option>

<option>Cartão Débito</option>

<option>Cartão Crédito</option>

<option>Boleto</option>

<option>Transferência</option>

</select>

</div>

<div>

<label>

Juros

</label>

<input
class="form-control"
name="juros"
value="0">

</div>

<div>

<label>

Multa

</label>

<input
class="form-control"
name="multa"
value="0">

</div>

<div>

<label>

Desconto

</label>

<input
class="form-control"
name="desconto"
value="0">

</div>

</div>

<div style="margin-top:25px;">

<label>

Observações

</label>

<textarea
class="form-control"
name="observacoes"
rows="4"></textarea>

</div>

<div
style="
margin-top:25px;
display:flex;
justify-content:flex-end;">

<button
class="btn-premium">

💰 Confirmar Recebimento

</button>

</div>

</div>

</form>

{% endblock %}